body {
	font-family:Courier New;
	max-width: 920px;
	margin: auto;
	height: calc(100vh - 55px);
	background-image: url('https://farm5.static.flickr.com/4550/39045423782_3f652d5c5b_b.jpg');
	background-size: cover;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=number], input[type=email] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

h1 {
	margin-top: 0;
}

main {
	height: calc(100vh - 55px);
	padding: 10px;
	align-content: center;
	text-align: center;
}

#introPage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	resize: vertical;
	overflow: auto;
	align-items: center;
	height: calc(100vh - 55px);
}

nav {
	margin: 0 10px 0 10px;
	background-color: rgba(14, 75, 19, 0.6);
	min-height: 35px;
}

button {
	cursor:pointer;
}

.navButtons {
	float: right;
	font-size: 0;
}

.navButtons button {
	color: white;
	font-weight: bold;
	background-color: rgba(24, 126, 32, 1);
}

.navButtons button:hover {
	background-color: #2be43a;
	color: black;
}

.navButtons button:active {
	position:relative;
	top:2px;
}

#userInNav {
	color: white;
	font-weight: bold;
	display: inline-block;
	padding-left: 10px;
	line-height: 2.15em;
}

nav button {
	padding: 0;
	width: 85px;
	height: 35px;
	border: none;
	font-size: 17px;
}

.makeNewPost {
	display: inline-block;
	align-self:center;
	background:transparent;
	padding:1rem 1rem;
	margin:0 1rem;
	transition:all .5s ease;
	color:white;
	font-family: 'Patrick Hand SC', cursive;
	text-shadow: 0 0 0.5em rgb(0, 0, 0), 0 0 0.5em rgb(0, 0, 0), 0 0 0.5em rgb(0, 0, 0), 0 0 0.5em rgb(0, 0, 0);
	font-size:2rem;
	letter-spacing:1px;
	outline:none;
	border:solid 7px #187e20;
	box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.makeNewPost:hover {
	border: solid 7px #2be43a;
	box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
}

.makeNewPost:active {
	position:relative;
	top:2px;
}

#myHikesTitle {
	color: white;
	text-shadow: 0 0 0.5em rgb(0, 0, 0), 0 0 0.5em rgb(0, 0, 0), 0 0 0.5em rgb(0, 0, 0), 0 0 0.5em rgb(0, 0, 0);
}

/* This removes the white space between the buttons */
.formButtons {
	font-size: 0;
}

/* Set a style for all buttons */
.formSubmitButton {
	font-size: 17px;
	background-color: #0c3e10;
	font-family:Courier New;
	font-size:17px;
	font-weight:bold;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 50%;
}

.formSubmitButton:hover {
	opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
	font-size: 17px;
	background-color: #f44336;
	font-family:Courier New;
	font-size:17px;
	font-weight:bold;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 50%;
}

.cancelbtn:hover {
	opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer {
	text-align: center;
	position: relative;
}

img.avatar {
	width: 40%;
	border-radius: 50%;
}

.container {
  padding: 16px;
}

.demoLogin {
	margin: 0;
	margin-top: -16px;
}

.cancelContainer {
	background-color: #f1f1f1;    
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  max-width: 500px; 
}

/* The Close Button (x) */
.close {
	position: absolute;
	right: 10px;
	top: 0;
	color: #000;
	font-size: 35px;
	font-weight: bold;
	padding-top: 2px;
}

fieldset {
	border: none;
}

#successfulRegister {
	display: inline-block;
	margin: 40px 0 20px 0px;
}

.close:hover,
.close:focus {
	color: red;
	cursor: pointer;
}

/* Add Zoom Animation */
.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}

/* Home page display */
.loadedHome {
	display: none;
}

#myHikesTitle {
	display: none;
}

.posts {
	margin-top: 10px;
}

#individualPosts {
	color: white;
	background-color: rgba(24, 126, 32, 0.6);
	position: relative;
	margin-bottom: 20px;
	padding: 10px;
	border: 5px solid white;
	border-radius: 14px;
}

#postContent h2 {
	background-color: rgba(64, 54, 0, 0.7);
	margin-bottom: 0;
}

#postContent p {
	background-color: rgba(115, 97, 0, 0.6);
	padding: 10px 0 10px 0;
	margin-top: 0;
}

header {
	color: white;
	background-color: rgba(24, 126, 32, 0.6);
	width: 100%;
}

.loadedHome {
	width: 100%;
}

.cssPostDate {
	top: -10px;
	right: 10px;
	position: absolute;
}

.cssPostedBy {
	position: absolute;
	top: -14px;
	left: 10px;
}

.cssHikename {
	background-color: rgba(242, 157, 0, 0.6);
	margin-bottom: 0;
}
	
.cssSeatsOpen {
	background-color: rgba(255, 215, 0, 0.5);
	color: black;
	margin-top: 0;
	padding: 10px 0 10px 0;
}

.postsEditDelete button {
	background-color:#0c3e10;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-size:17px;
	padding:5px 11px;
	text-decoration:none;
	text-shadow:0px 0px 0px #2f6627;
	border: none;
	font-weight:bold;
}

.postsEditDelete button:hover {
	background-color: #2be43a;
	color: black;
}

.postsEditDelete button:active{
	position:relative;
	top:2px;
}

legend {
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
}

@-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)} 
	to {-webkit-transform: scale(1)}
}
	
@keyframes animatezoom {
	from {transform: scale(0)} 
	to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 450px) {
	.cancelbtn, .formSubmitButton {
	   width: 100%;
	}
}

@media screen and (max-width: 420px) {
	.navButtons {
		width: 100%;
	}

	#userInNav {
		display: block;
		padding-left: 0;
		text-align: center;
	}
	
	.loggedIn {
		width: 33.33333%;
	}

	.notLoggedIn {
		width: 50%;
	}
}

@media screen and (max-width: 300px) {
	.notLoggedIn, .loggedIn {
		width: 100%;
	}

	.navButtons {
		display: contents;
	}
}

@media screen and (max-width: 510px) {
	.cssPostDate {
		left: 0;
		right: 0;
	}
	
	.cssPostedBy {
		left: 0;
		right: 0;
		top: 13px;
	}
	
	.cssHikename {
		margin-top: 55px;
	}
}